.testimonials-section {
  margin-bottom: 50px;
}

.testimonial-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.testimonial-card {
  background: #1f1f1f;
  border-radius: 18px;
  padding: 20px;
    min-height: 220px;
  width: 230px;
  text-align: center;
  border: 1px solid #2b2b2b;
  transition: 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(255, 217, 102, 0.15);
}

.testimonial-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #ffd966;
}

.testimonial-card h3 {
  color: #fff;
  font-size: 15px;
  margin-bottom: 2px;
}

.testimonial-card span {
  font-size: 12px;
  color: #ffd966;
}

.testimonial-card p {
  font-size: 13px;
  color: #b5b5b5;
  margin-top: 10px;
  line-height: 1.6;
}
.about-section,
.services-section,
.testimonials-section,
.contact-section {
  margin-bottom: 36px;
}
@media (max-width: 768px) {
  .testimonial-wrapper {
    flex-direction: column;
  }

  .testimonial-card {
    width: 100%;
  }
}