.app-wrapper {
  width: 1100px;
  background: #181818;
  border-radius: 22px;
  display: grid;
  grid-template-columns: 280px 1fr;
  overflow: hidden;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.6);
}

.sidebar {
  background: #1c1c1c;
  border-right: 1px solid #2a2a2a;
}

.content {
    padding: 32px 36px;

}
@media (max-width: 1024px) {
  .app-wrapper {
    width: 95%;
    grid-template-columns: 240px 1fr;
  }
}

@media (max-width: 768px) {
  .app-wrapper {
    grid-template-columns: 1fr;
  }

  .sidebar {
    border-right: none;
    border-bottom: 1px solid #2a2a2a;
  }

  .content {
    padding: 24px;
  }
}
body {
  background: var(--bg);
  color: var(--text);
}

section {
  background: transparent;
}

.card, .portfolio-card {
  background: var(--card);
  border-radius: 14px;
}